 <%- include("header",{type:'page'}) %>

<div class="container">
	<main role="main">
		<article itemscope>
			<h1 class="article-title" itemprop="headline"><%= pages.title %></h1>
			<section class="article" itemprop="entry-text">
				<%- pages.md %>
			</section>
		</article>
		<p>
            <% if(session.user ){ %>
                <a href="<%= pages['linkname'] %>/edit">编辑</a>
                <a class="delete_post">删除</a>
                <% } %>
        </p>
        <% if(pages.hascom == 'true'){ %>
            <%- include("comment",{type:'page'}) %>
        <% }%>
	</main>
	<script>
        $('.delete_post').click(() => {
            $.ajax({
                url: "<%= pages.linkname %>/remove",
                type: 'POST',
                cache: false,
                success: function (msg) {
                    if (msg.data == 1) {
                        fade('删除页面成功')
                        setTimeout(() => {
                            window.location.href = "/"
                        }, 1000)
                    } else {
                        fade('删除页面失败')
                    }
                }
            })
        })
    </script>
</div>
<%- include("footer",{type:'all'}) %>