<%- include("header",{type:'post'}) %>
	<div class='container'>
		<div class='post-body'>
			<h1 class='title'>
				<%= posts.title %>
			</h1>
			<p class='date'>
				<%= posts.moment %> / <%= posts.pv %> Views
			</p>
			<%- posts.content %>
		</div>
		<p>
				<% if(session.user ){ %>
					<a href="<%= posts['id'] %>/edit">编辑</a>
					<a class="delete_post">删除</a>
					<% } %>
			</p>
			<%- include("comment",{type:'post'}) %>
	</div>
	
		<script>
			$('.delete_post').click(() => {
				$.ajax({
					url: "<%= posts.id %>/remove",
					type: 'POST',
					cache: false,
					success: function (msg) {
						if (msg.data == 1) {
							fade('删除文章成功')
							setTimeout(() => {
								window.location.href = "/"
							}, 1000)
						} else {
							fade('删除文章失败')
						}
					}
				})
			})
		</script>
		<%- include("footer",{type:'post'}) %>